body {
    background-color: aliceblue;
}

h1 { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    width: 100;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: auto;
    background-color: black;
}

.flex-column {
    display: flex;

}

.flex-center {
    justify-content: center;
    align-items: center
}

.btn, .scorebtn {
    font-size: 100%;
    padding: 0%;
    width: 75%;
    text-align: center;
    color: aliceblue;
}

